.facts{
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
    color: white;
}
.links{
    background-color: yellow;
    color: white; 
}
.feedback{
    background-color: green;
    color: white;
}
.info{
    background-color: purple;
    color: white;
}
.img{
    background-color: orange;
}